.navbar {
    background-color: rgba(0, 0, 0, 0.8) !important;
    width: 100%;
    z-index: 10; /*não deixa que o scale dos cards fique sobrepondo o header*/
    position: fixed;
    padding: 10px;
    top: 0;
}

.navbar-icon {
    width: auto;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar a {
    color: white;
    text-transform: uppercase;
    font-weight: bold; 
    transition: all 0.5s;
}

.navbar a:hover {
    color: #CF1928;
}

.head-font {
    font-family: 'Roboto Condensed', sans-serif;
}

.banner{
    padding-top: 0;
    background-size: cover;
    width: 100%;
    height: 700px;
    margin-bottom: 50px;
}

.banner-home{
    background-image: url(../images/banner-home.jpg);
}

.banner-comics{
    background-image: url(../images/banner-comics.jpg);
}

.banner-events{
    background-image: url(../images/banner-events.jpg);
}

.banner-characters{
    background-image: url(../images/banner-characters.jpg);
}

.banner-creators{
    background-image: url(../images/banner-creators.jpg);
}

#titulo-principal {
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding-top: 350px;
    font-size: 11rem;
    text-shadow: 0 0 0.5rem #4F4F4F;
}

.bg-character {
    background-image: url(../images/background-character.jpg);
}

.bg-comic {
    background-image: url(../images/background-comic.jpg);
}

.bg-event {
    background-image: url(../images/background-event.jpg);
}

.bg-creator {
    background-image: url(../images/background-creator.jpg);
}

.glass-effect {
    background-color: rgba(36, 36, 36, 0.034);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: none;
}

.box-principal {
    margin-top: 10rem;
    margin-bottom: 5rem;
    text-align: center;
    /* background-color: #000000; */
    font-family: 'Marvel', sans-serif;
    color: #FFFFFF;
    border: 1px solid #CCC;
    padding: 0;
    border-radius: 20px 0 20px 0;
}

.box-img {
    border-radius: 20px 0 0 0;
}

.creators {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 20px;
}

.writer, .penciler, .start, .end {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.title {
    font-size: 18px;
}

.title-h5 {
    padding-right: 45rem;
}

.title-dates, .title {
    font-size: 18px;
}

.dates-titles {
    flex-direction: column;
}

.writer p, .penciler p, .start p, .end p{
    margin: 0 0 0 !important;
}

.dates {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 20px;
}

.card {
    border: none;
    width: auto;
    height: auto !important;
    background-color: #000000;
    margin-bottom: 1.5rem;
    border-radius: 20px 0 20px 0; /* top-left | top-right | bottom-right | bottom-left */
    transition: box-shadow 0.5s ease-in-out;
}

.card:hover {
    box-shadow: inset 0 80vh 0 1px  #CF1928;
}

.card-body {
    box-shadow: inset 0 3px 0 0 #CF1928;
    padding: 0;
    margin: 0;
}

.card-img {
    border-radius: 20px 0 0 0;
}

.card .titulo {
    height: 5rem;
    text-align: center;
}

.titulo{
    color: #FFFFFF;
    font-family: 'Marvel', sans-serif;
    font-size: medium;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #FFFFFF;
}

.btn {
    transition: all 1.2s;
    font-weight: bold;  
}

.carousel {
    position: relative;
}

.carousel-inner {
    width: auto;
    height: auto;
    overflow: hidden;
}

.carousel-inner::-webkit-scrollbar {
    display: none;
}

.carousel-inner .img-fluid {
    width: 100%;
    height: auto;
}

.carousel-control-prev {
    position: absolute;
    left: -6.5rem;
}

.carousel-control-next {
    position: absolute;
    right: -6.5rem;
}

/*CONTATO*/
.font-contato {
    color: #FFFFFF;
    font-family: 'Marvel', sans-serif;
}

.caixa-contato{
    background-image: linear-gradient(#960000,#ff5851);
    width: 750px;
    height: 750px;
    margin: 100px auto;
    margin-top: 100px;
    padding: 50px 100px;
    box-shadow: 0 0 5px #666;
    border-radius: 2px;
}

.campo {
    margin-bottom: 0.8em;
}

.botao {
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0);
    color: whitesmoke;
    border: 1px solid white;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    margin: 5px;
}

.botao:hover {
    background: whitesmoke;
    color: #cf1928;
    transition: all 0.5s;
    transform: scale(1.1);
}

.icone{
    padding-right: 4px;
}

input, textarea{
    padding: 10px;
    margin: 2px;
    border: 0;
    border-radius: 4px;
    font-family: 'Marvel', sans-serif;
    outline: 0; /*tira borda de seleção do campo do formulário selecionado*/
}


@media screen and (max-width: 830px) {
    #titulo-principal {
        padding-top: 250px ;
        font-size: 4rem;
    }

    .banner-home {
        max-width: 100%;
        height: 400px;
    }

    .carousel-inner {
        height: 550px;
    }

    .carousel-control-prev {
        position: 0;
        left: 0;
    }
    
    .carousel-control-next {
        position: 0;
        right: 0;
    }
}
