.card {
    border-radius: 0;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 0.5rem #CCC;
}
.btn {
    border-radius: 0;
}
.card .titulo {
    height: 5 rem;
}
.carousel-inner {
    width: auto;
    height: 400px;
    overflow: hidden;
}

.carousel-inner::-webkit-scrollbar {
    display: none;
}